/*




Navbar styling




*/
.nav-links a {
  text-decoration: none;
}
.nav-underline1 span:nth-child(2) {
  border-bottom: #ff1e00 solid 2px;
  padding: 0.5rem 0 0;
  width: 75px;
  margin-left: 1rem;
}
.nav-underline2 span:nth-child(2),
.nav-underline3 span:nth-child(2) {
  border-bottom: #ffffff solid 2px;
  padding: 0.5rem 0 0;
  width: 75px;
  margin-left: 1rem;
}
.nav-underline2:hover,
.nav-underline2:focus,
.nav-underline3:hover,
.nav-underline3:focus {
  border-bottom: #ff1e00 solid 2px;
}
/*




Hero display styling




*/
.hero-content-container {
  padding: 1rem 0;
}
.hero-content-image {
  width: 100%;
}
.hero-content-image img {
  width: 100%;
}
.hero-text-slogan {
  margin: 3rem 0;
}
.hero-content-text h1 {
  padding: 2rem 0;
  width: 60%;
}
.hero-text-paragraph {
  padding: 0 0 2rem;
}
.hero-content-text hr {
  width: 25%;
  border-width: 1px;
  border-color: #ff1e00;
  border-style: solid;
}
/*




Description of the problem stying




*/
.problem-main-container {
  display: flex;
  flex-direction: column;
}
.problem-text-container h1 {
  padding: 0 0 3rem;
}
.problem-text-container p {
  padding: 1rem 0 2rem;
}
.problem-text-color-container {
  color: #ff1e00;
}
.problem-image-container img {
  width: 100%;
}

/*




The opportunity




*/
.opportunity-stories-container,
.opportunity-CTA-button {
  background-color: white;
}
.opportunity-text,
.opportunity-CTA-container-background {
  background-color: #051325;
}
.opportunity-content-container {
  display: flex;
  flex-direction: column;
}
.opportunity-main-facts {
  display: flex;
  background-color: #051325;
}
.opportunity-facts-container {
  display: flex;
  flex-direction: column;
  background-color: #051325;
  border: 1px solid white;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  margin: 6% 4% 6%;
  padding: 6% 4% 6%;
}
.opportunity-facts-container h2,
.opportunity-facts-container p,
.opportunity-CTA-content p,
.opportunity-stories-tittel h2 {
  color: white;
  margin-top: 3%;
}
.opportunity-main-stories {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/front-page/johannesburg2.png);
  padding-bottom: 3%;
}
.opportunity-stories-tittel {
  display: flex;
  width: 85%;
  margin: 0 auto;
  margin: 6% 7% 4%;
}
.opportunity-stories-tittel h2 {
  font-size: 2.5rem;
}
.opportunity-stories-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 3%;
}
.opportunity-stories-container img {
  width: 100%;
  height: auto;
}
.opportunity-stories-text {
  padding: 1rem 0.75rem 3rem;
}
.opportunity-stories-text p {
  padding: 0 0 1rem;
}
.opportunity-stories-text a {
  font-size: 2rem;
  color: #eb3c24;
  text-decoration: underline;
}
.opportunity-CTA-container-background {
  display: flex;
  height: auto;
}
.opportunity-CTA-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4rem 0;
  width: 80%;
  margin: 0 auto;
}
.opportunity-text {
  padding: 0 0 2.5rem;
}
.opportunity-CTA-button {
  border: none;
  color: #051325;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  padding: 2rem 4rem;
}
.opportunity-CTA-button {
  margin: 4.5rem 0 3rem;
  padding: 2rem 10rem;
  font-size: 2.5rem;
  background-color: #ff1e00;
  color: white;
}
.opportunity-CTA-button:hover {
  background-color: white;
  color: #ff1e00;
}
/*




Media queries




*/
@media only screen and (min-width: 600px) {
  .hero-text-slogan {
    margin: 0;
  }
  .problem-content-container {
    padding-top: 2.5rem;
  }
  .nav-underline2 {
    width: 142px;
  }
  .nav-underline3 {
    width: 145px;
  }

  .nav-underline1 span:nth-child(2) {
    border-bottom: #ff1e00 solid 2px;
    padding: 0.5rem 0 0;
    width: 128px;
    margin-left: 0;
  }
  .nav-underline2 span:nth-child(2),
  .nav-underline3 span:nth-child(2) {
    border-bottom: #ffffff solid 2px;
    padding: 0.5rem 0 0;
    margin-left: 1rem;
  }
  .nav-underline2:hover,
  .nav-underline2:focus,
  .nav-underline3:hover,
  .nav-underline3:focus {
    border-bottom: #ff1e00 solid 2px;
  }
  /*

  the opportunity

  */
  .opportunity-main-stories {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .opportunity-stories-container {
    flex: 0 1 45%;
  }
  .opportunity-stories-container:nth-child(4) {
    display: flex;
    justify-content: flex-start;
  }
  .opportunity-content-container {
    flex-direction: column;
  }
  .opportunity-main-facts,
  .opportunity-main-stories {
    flex: 1;
  }
  .opportunity-main-stories {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .opportunity-stories-tittel {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 900px) {
  /*

  the problem

  */

  .problem-content-container {
    display: flex;
    flex-direction: row-reverse;
    padding: 8rem 0;
  }
  .problem-text-container {
    padding-right: 2rem;
    flex: 1;
  }
  .problem-image-container {
    flex: 1.25;
    display: flex;
    align-items: center;
  }
  /*

  the opportunity

  */
  .opportunity-content-container {
    flex-direction: row;
  }
  .opportunity-main-facts,
  .opportunity-main-stories {
    flex: 1;
  }
  .opportunity-main-stories {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .opportunity-main-facts {
    justify-content: center;
    align-items: center;
  }
  .opportunity-facts-container {
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin: 0 auto;
    margin: 10%;
    margin-top: 15%;
  }
  .opportunity-stories-text {
    margin-right: 5%;
  }
  .opportunity-facts-container p {
    margin-top: 10%;
  }
  .opportunity-main-stories {
    padding-bottom: 5%;
  }
  .opportunity-stories-container {
    flex-direction: row;
  }
  .opportunity-stories-container img {
    max-width: 50%;
    object-fit: cover;
  }
  .opportunity-facts-container {
    max-height: 70%;
  }
  .opportunity-text {
    background-color: #051325;
    padding: 2rem 5rem 4rem;
  }
  .opportunity-text p {
    color: white;
    font-weight: 500;
    text-align: center;
  }
  .opportunity-CTA-content {
    align-items: center;
    padding: 5rem 5rem;
  }
  .opportunity-text a {
    padding: 10rem 0;
  }
  .opportunity-CTA-button {
    margin: 4.5rem 0 3rem;
    padding: 2rem 10rem;
    font-size: 2.5rem;
    background-color: #ff1e00;
    color: white;
  }
  .opportunity-CTA-button:hover {
    background-color: white;
    color: #ff1e00;
  }
  .opportunity-content-container {
    padding: 0 0 12rem;
  }
  footer {
    padding: 6rem 0 0;
  }
}

@media only screen and (min-width: 1100px) {
  .problem-text-container {
    flex: 1;
  }
  .problem-image-container {
    flex: 1.03;
  }
  .opportunity-content-container {
    padding: 0 0 10rem;
  }

  footer {
    padding: 4rem 0 0;
  }
}
