main {
  width: 100%;
}
/*




Navbar styling




*/
.nav-links a {
  text-decoration: none;
}
.nav-underline1 span:nth-child(2) {
  border-bottom: #ff1e00 solid 2px;
  padding: 0.5rem 0 0;
  width: 75px;
  margin-left: 1rem;
}
.nav-underline2 span:nth-child(2),
.nav-underline3 span:nth-child(2) {
  border-bottom: #ffffff solid 2px;
  padding: 0.5rem 0 0;
  width: 75px;
  margin-left: 1rem;
}
.nav-underline2:hover,
.nav-underline2:focus,
.nav-underline3:hover,
.nav-underline3:focus {
  border-bottom: #ff1e00 solid 2px;
}
/*




Hero display styling




*/
#hero-display-main-container {
  width: 100%;
  height: auto;
}

.hero-display-width-container {
}

.hero-content-container {
  padding: 1rem 0;
}

.hero-content-image {
  width: 100%;
}

.hero-content-image img {
  width: 100%;
}

.hero-text-slogan {
  padding: 0 0 2rem;
}

.hero-content-text h1 {
  padding: 2rem 0;
  width: 60%;
}

.hero-text-paragraph {
  padding: 0 0 2rem;
}

.hero-content-text hr {
  width: 25%;
  border-width: 1px;
  border-color: #ff1e00;
  border-style: solid;
}
/*




Description of the problem stying




*/
.problem-main-container {
  display: flex;
  flex-direction: column;
}
.problem-content-container {
}
.problem-text-container h1 {
  padding: 2rem 0;
}
.problem-text-container p {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.problem-text-color-container {
  color: #ff1e00;
}
.problem-image-container img {
  width: 100%;
}

/*




The opportunity




*/
#opportunity-main-container {
  width: 100%;
  height: 1000px;
}
.opportunity-content-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.opportunity-main-facts {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #051325;
}
.opportunity-facts-container {
  display: flex;
  flex-direction: column;
  background-color: #051325;
  border: 1px solid white;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  margin: 4%;
  margin-top: 6%;
  margin-bottom: 6%;
  padding: 4%;
  padding-top: 6%;
  padding-bottom: 6%;
}
.opportunity-facts-container h2,
.opportunity-facts-container p,
.opportunity-CTA-content p,
.opportunity-stories-tittel h2 {
  color: white;
  margin-top: 3%;
}
.opportunity-main-stories {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/front-page/johannesburg2.png);
}
.opportunity-stories-tittel {
  display: flex;
  width: 85%;
  margin: 0 auto;
  margin-top: 4%;
  margin-bottom: 4%;
}
.opportunity-stories-tittel h2 {
  font-size: 2.5rem;
  font-family: "DM Mono", monospace;
}

.opportunity-stories-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 4%;
  margin-top: 3%;
}

.opportunity-stories-container img {
  width: 100%;
  height: auto;
}
.opportunity-stories-text {
  margin-left: 6%;
  margin-top: 4%;
  margin-bottom: 4%;
}
.opportunity-stories-text-red {
  color: #eb3c24;
  text-decoration: underline;
}
.opportunity-CTA-container-background {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #051325;
}
.opportunity-CTA-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
  margin-top: 4%;
  background-color: #051325;
  margin-bottom: 4%;
}
/*
.opportunity-CTA-button {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: auto;
  margin-top: 8%;
  margin-bottom: 5%;
}
*/
.opportunity-CTA-button {
  border: none;
  color: #051325;
  background-color: white;
  width: 60%;
  height: 3rem;
  margin-top: 8%;
  margin-bottom: 5%;
}
.opportunity-CTA-button a {
  text-decoration: none;
}
/*
.opportunity-CTA-button p {
  color: #051325;
  padding: 2.5%;
}
*/

/* opportunity fonts and sizes */

.opportunity-stories-tittel h2,
.opportunity-stories-text p,
.opportunity-CTA-content p {
  font-family: "DM Mono", monospace;
}

/*




Media queries




*/
@media only screen and (min-width: 600px) {
  .problem-content-container {
    padding-top: 2.5rem;
  }
  .nav-underline2 {
    width: 142px;
  }
  .nav-underline3 {
    width: 145px;
  }

  .nav-underline1 span:nth-child(2) {
    border-bottom: #ff1e00 solid 2px;
    padding: 0.5rem 0 0;
    width: 128px;
    margin-left: 0;
  }
  .nav-underline2 span:nth-child(2),
  .nav-underline3 span:nth-child(2) {
    border-bottom: #ffffff solid 2px;
    padding: 0.5rem 0 0;
    margin-left: 1rem;
  }
  .nav-underline2:hover,
  .nav-underline2:focus,
  .nav-underline3:hover,
  .nav-underline3:focus {
    border-bottom: #ff1e00 solid 2px;
  }
}

@media only screen and (min-width: 1000px) {
  .opportunity-content-container {
    flex-direction: row;
  }
  .opportunity-main-facts,
  .opportunity-main-stories {
    width: 50%;
  }
  .opportunity-facts-container {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
  }
  .opportunity-stories-text {
    margin-right: 5%;
  }

  .opportunity-stories-container {
    flex-direction: row;
  }
  .opportunity-stories-container img {
    max-width: 50%;
  }
  .opportunity-facts-container {
    max-height: 70%;
  }
  .opportunity-CTA-container-background {
    display: flex;
    background-color: #eb3c24;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
  .opportunity-CTA-content {
    padding: 1%;
    width: 40%;
  }
  .problem-content-container {
    display: flex;
    flex-direction: row-reverse;
    padding: 2.5rem 0;
  }
  .problem-text-container {
    padding-right: 7rem;
    flex: 1;
  }
  .problem-image-container {
    flex: 1;
  }
}

@media only screen and (min-width px) {
}
@media only screen and (min-width px) {
}
@media only screen and (min-width px) {
}
