/*



steps styliing



*/
#steps-main-container,
#create-project-main-container,
#choose-contributors-main-container {
  padding: 2rem 0;
  border-bottom: #ff1e00 2px solid;
}
.steps-number p {
  color: #ff1e00;
}
.link-border1 span {
  border-bottom: #ff1e00 solid 2px;
  padding: 0.5rem 0 0;
  margin-left: 1.5rem;
}
.link-border2 span {
  border-bottom: #842ed9 solid 2px;
  padding: 0.5rem 0 0;
  margin-left: 1.5rem;
}

.link-border1 span {
  width: 120px;
}
.link-border2 span {
  width: 97px;
  display: none;
}
.link-border1 {
  padding: 0;
  border: ;
  width: 150px;
}
.link-border2 {
  padding: 0;
  width: 130px;
}
.link-border2 a {
  color: #9c9c9c;
}
.link-border2:hover,
.link-border2:focus {
  border-bottom: #842ed9 solid 2px;
  width: 130px;
  padding: 0;
}
.link-border2 span:hover,
.link-border2 span:focus {
  width: 90px;
}
.top-text-links a {
  text-decoration: none;
}
/*



media queries



*/
@media only screen and (min-width: 900px) {
  .link-border1 {
    width: 290px;
  }
  .link-border1 span {
    width: 242px;
    margin-left: 2.5rem;
  }
  .link-border2 {
    width: 250px;
  }
  .link-border2:focus,
  .link-border2:hover {
    border-bottom: #842ed9 solid 2px;
    width: 250px;
  }
  .link-border2 span:focus,
  .link-border2 span:hover {
    border-bottom: #842ed9 solid 2px;
    width: 215px;
  }
}
