.link-border1 a:nth-child(1) {
  border-bottom: 2px solid #ff1e00;
}
.link-border1 a:nth-child(1):hover,
.link-border1 a:nth-child(1):focus {
  border-bottom: 2px solid #ff1e00;
  transition: 0.2s;
}
.link-border2 a:nth-child(1):hover,
.link-border2 a:nth-child(1):focus {
  border-bottom: 2px solid #842ed9;
  transition: 0.2s;
}
/*



steps styling



*/
#steps-main-container,
#create-project-main-container,
#choose-contributors-main-container {
  padding: 2rem 0;
  border-bottom: #ff1e00 2px solid;
}
.steps-number p {
  color: #ff1e00;
}
.top-text-links a {
  text-decoration: none;
}
@media only screen and (min-width: 900px) {
  #number-1 {
    padding-bottom: 14rem;
  }
  #number-2 {
    padding-bottom: 17.5rem;
  }
  #number-3 {
    padding-bottom: 21rem;
  }
}
@media only screen and (min-width: 995px) {
  #number-1 {
    padding-bottom: 12rem;
  }
  #number-2 {
    padding-bottom: 17.5rem;
  }
  #number-3 {
    padding-bottom: 20.75rem;
  }
}
@media only screen and (min-width: 1100px) {
  #number-1 {
    padding-bottom: 12rem;
  }
  #number-2 {
    padding-bottom: 15rem;
  }
  #number-3 {
    padding-bottom: 14.5rem;
  }
}
