/*




Orange highlight color: #FF1E00





/*




Universal styling




*/

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: #fffefb;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
/*




Nav-bar styling





*/
nav {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 2rem;
}

.nav-logo {
  height: 22px;
  width: 75px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 0 0;
}

.nav-links a {
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1rem 0;
  text-decoration: none;
  display: flex;
  margin: 0;
}
.nav-links-height {
  display: flex;
}
.period {
  color: #ff1e00;
}
.nav-underline {
  display: flex;
  flex-direction: column;
}
.nav-underline span:nth-child(2) {
  border-bottom: #ff1e00 solid 2px;
  padding: 0.5rem 0 0;
  width: 75px;
  margin-left: 1rem;
}
/*




Universal font styling




*/
h1,
h2,
h3,
p,
a {
  color: #021d3b;
  /* regular white is replacement color for other pages */
}

h1,
h2,
h3,
p footer p,
a {
  font-family: "DM Mono", monospace;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 400;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.6rem;
  line-height: 3rem;
  /* bortset fra The opportunity som har 18px georgia som p-tekst */
}
/*




Footer styling




*/
footer h2 {
  font-size: 2.5rem;
}

footer p {
  font-size: 2rem;
}
.footer-content-container {
  padding: 5rem 0;
}
.footer-heading {
  display: flex;
  flex-direction: column;
  padding: 0 0 2rem;
}
.footer-heading span {
  border-bottom: #ff1e00 solid 3px;
  padding: 0.5rem 0;
  width: 75px;
}
/*




Width styling




*/

.hero-display-width-container,
.problem-content-container,
.opportunity-content-container,
.footer-content-container,
.top-text-content-container,
.steps-content-container {
  width: 95%;
  margin: 0 auto;
  max-width: 1100px;
}

.hero-content-image,
.nav-container {
  width: 100%;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero-content-container {
  max-width: 1100px;
  margin: 0 auto;
}
/*




Media queries




*/
@media only screen and (min-width: 600px) {
  /*

Navbar

*/
  .nav-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 0 2.5rem;
  }
  .nav-logo {
    height: 90%;
    width: auto;
    padding-left: 2rem;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links a {
    font-size: 1.8rem;
    padding: 0 3rem 0;
  }
  .nav-underline span:nth-child(2) {
    border-bottom: #ff1e00 solid 2px;
    padding: 0.5rem 0 0;
    width: 130px;
    margin-left: 3.15rem;
  }
  /*


  Hero display


  */
  #hero-display-main-container {
    background-image: url(../images/front-page/hero-display.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
  }
  .hero-display-width-container {
    display: flex;
  }
  .hero-content-image {
    display: none;
  }
  .hero-content-text h1 {
    font-weight: 500;
    line-height: 4.8rem;
    font-size: 4.3rem;
    padding: 3rem 0;
  }
  .hero-content-container {
    background-color: white;
    flex: 0 0 407px;
    padding: 2rem 5rem;
    margin: 0;
  }
  .hero-text-slogan {
    padding: 2rem 0;
  }
  .hero-text-paragraph {
    padding: ;
  }
  .hero-text-paragraph p {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: px) {
}
@media only screen and (min-width: px) {
}
@media only screen and (min-width: px) {
}
@media only screen and (min-width: px) {
}
@media only screen and (min-width: px) {
}
@media only screen and (min-width: px) {
}
@media only screen and (min-width: px) {
}
