/*




Navbar styling




*/
.nav-links a {
  text-decoration: none;
}
.nav-underline1 span:nth-child(2) {
  border-bottom: #ff1e00 solid 2px;
  padding: 0.5rem 0 0;
  width: 75px;
  margin-left: 1rem;
}
.nav-underline2 span:nth-child(2),
.nav-underline3 span:nth-child(2) {
  border-bottom: #ffffff solid 2px;
  padding: 0.5rem 0 0;
  width: 75px;
  margin-left: 1rem;
}
.nav-underline2:hover,
.nav-underline2:focus,
.nav-underline3:hover,
.nav-underline3:focus {
  border-bottom: #ff1e00 solid 2px;
}
