


/*

main {
  display: flex;
  flex-direction: column;
  background-color: #021D3B;
  max-width: 1100px;
  margin: 0 auto;
}



Navbar styling




*/


.nav-underline2 span:nth-child(2) {
  border-bottom: #ff1e00 solid 2px;
  padding: 0.5rem 0 0;
  width: 75px;
  margin-left: 1rem;
}
.nav-underline1 span:nth-child(2),
.nav-underline3 span:nth-child(2) {
  border-bottom: #ffffff solid 2px;
  padding: 0.5rem 0 0;
  width: 75px;
  margin-left: 1rem;
}


/*



tittel




*/

#tittel {
  display: flex;
  width: 100%;
  height:auto;
  background-color: #021D3B;
  margin-bottom: -1px;

}
.tittel-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
}
.tittel-container h1 {
  color: white;
  margin-left: 10%;
  margin-top: 10%;
  font-size: 2.5rem;
}

.tittel-container hr {
  width: 95px;
  margin-left: 10%;
  margin-top: 4%;
  margin-bottom: 10%;
  border: 2px solid #FF1E00;

}

/*



Main container




*/

#main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
}
.problems-main-container{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.problems-tittel-container {
  display: flex;
  width: 100%;
  background-color: #021D3B;
}
.problems-tittel-container h2 {
  color: white;
  font-size: 2rem;
  margin-left: 10%;
  margin-top: 12%;
  margin-bottom: 6%;
}
.problems-image-mobile img {
  max-width: 100%;
  height: auto;
}
.problems-text-card-container {
  display: flex;
  flex-direction: row;
}
.problem-text-image-desktop {
  display: none;
  flex: 1.10;
  background-image: url(../images/our-soloution/barn.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.beDone-text-image-desktop {
  display: none;
  flex: 1.10;
  background-image: url(../images/our-soloution/møte.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.soloution-text-image-desktop {
  display: none;
  flex: 1.10;
  background-image: url(../images/our-soloution/mockup.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.problems-text-main {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 1;
}
.problems-text-card-1,
.problems-text-card-2,
.problems-text-card-3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex: 1;
}
.problems-text-card-1 {
  background-color: #FFFFFF;
}
.problems-text-card-2 {
  background-color: #F5F7FB;
}
.problems-text-card-3 {
  background-color: #E3E6EE;
}

.problems-text-period {
  display: flex;
  flex: 1;
  margin-left: 4%;
  margin-bottom: 4%;
  margin-top: 4%;
  justify-content: center;
  align-items: flex-start;
}
.bulletpoint {
  color: #FF1E00;
  font-size: 2.5rem;
}

.problems-text-content {
  display: flex;
  flex: 8;
  margin-top: 4%;
  margin-right: 4%;
  margin-bottom: 4%;
  align-items: center;
}

.problems-text-content-1 {
  background-color:
}
.problems-text-content-2 {
  background-color: #F5F7FB;
}
.problems-text-content-3 {
  background-color: #E3E6EE;
}


.beDone-main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.solution-main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}



/*



Call to Action




*/

#CTA-main-container {
  display: flex;
  width: 100%;
  background-color: #051325;

}
.CTA-content-container {
  display: flex;
  width: 80%;
  max-width: 300px;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.CTA-text {
  display: flex;
  width: 60%;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.CTA-text p{
  color: white;
  font-size: 2.1rem;
}
.CTA-button {
  border: none;
  color: #051325;
  background-color: white;
  width: 60%;
  height: 3rem;
  margin-top: 8%;
  margin-bottom: 20%;
}
.CTA-button a {
  text-decoration: none;
}

/*



Media queries




*/
@media only screen and (min-width: 600px) {
  .nav-underline1 {
    width: 130px;
  }
  .nav-underline3 {
    width: 145px;
    padding: 0;
  }
  .nav-underline2 span:nth-child(2) {
    border-bottom: #ff1e00 solid 2px;
    padding: 0.5rem 0 0;
    width: 142px;
    display: flex;
    justify-content: center;
    margin-left: 0;
  }
  .nav-underline1 span:nth-child(2),
  .nav-underline3 span:nth-child(2) {
    border-bottom: #ffffff solid 2px;
    padding: 0.5rem 0 0;
    margin-left: 1rem;
  }
  .nav-underline1:hover,
  .nav-underline1:focus,
  .nav-underline3:hover,
  .nav-underline3:focus {
    border-bottom: #ff1e00 solid 2px;
  }

  .problems-image-mobile {
    display: none;
  }
  .problem-text-image-desktop {
    display: flex;
  }
  .soloution-text-image-desktop {
    display: flex;
  }
  .beDone-text-image-desktop {
    display: flex;
  }

  .CTA-button {
    margin-bottom: 30%;
  }
  .CTA-text {
    margin-top: 30%;
  }


}
