/*




Navbar styling




*/


.nav-underline2 span:nth-child(2) {
  border-bottom: #ff1e00 solid 2px;
  padding: 0.5rem 0 0;
  width: 75px;
  margin-left: 1rem;
}
.nav-underline1 span:nth-child(2),
.nav-underline3 span:nth-child(2) {
  border-bottom: #ffffff solid 2px;
  padding: 0.5rem 0 0;
  width: 75px;
  margin-left: 1rem;
}

/*



tittel




*/

#tittel {
  display: flex;
  width: 100%;
  background-color: #021d3b;
  margin-bottom: -1px;
}

.tittel-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 0;
}
.tittel-container h1 {
  color: white;
  margin-left: 6.5%;
  font-size: 2.5rem;
}

.tittel-container hr {
  width: 95px;
  margin-left: 6.5%;
  margin-top: 1.5rem;
  border: 2px solid #ff1e00;
}

/*



Main container




*/

#main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
}
.problems-main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.problems-tittel-container {
  display: flex;
  width: 100%;
  background-color: #021d3b;
  justify-content: flex-start;
  align-items: center;
}
.problems-tittel-container h2 {
  color: white;
  font-size: 2rem;
  margin-left: 6.5%;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}
.problems-image-mobile img {
  max-width: 100%;
  height: auto;
}
.problems-text-card-container {
  display: flex;
  flex-direction: row;
}
.problem-text-image-desktop {
  display: none;
  flex: 1.1;
  background-image: url(../images/our-soloution/barn.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.beDone-text-image-desktop {
  display: none;
  flex: 1.1;
  background-image: url(../images/our-soloution/møte.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.soloution-text-image-desktop {
  display: none;
  flex: 1.1;
  background-image: url(../images/our-soloution/mockup.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.problems-text-main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex: 1;
}
.problems-text-card-1,
.problems-text-card-2,
.problems-text-card-3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex: 1 0 auto;
  padding: 2.5rem 0;
  height: 33.3333%;
}
.problems-text-card-1 {
  background-color: #ffffff;
}
.problems-text-card-2 {
  background-color: #f5f7fb;
}
.problems-text-card-3 {
  background-color: #e3e6ee;
}

.problems-text-period {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1%;
}
.bulletpoint {
  color: #ff1e00;
  font-size: 2.5rem;
}

.problems-text-content {
  display: flex;
  flex: 8;
  align-items: center;
  margin-right: 2.5rem;

}
.problems-text-content p {
  width: 100%;
  flex: 1 0 auto;
}

.beDone-main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.solution-main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/*



Call to Action




*/

#CTA-main-container {
  display: flex;
  width: 100%;
  background-color: #051325;
}
.CTA-content-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.CTA-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 2rem;
}
.CTA-text p {
  color: white;
  font-size: 2.1rem;
}
.CTA-button {
  border: none;
  color: #051325;
  background-color: white;
  padding: 1rem 2.5rem;
  cursor: pointer;
  font-family: "DM Mono", monospace;
  font-weight: 500;
}
.CTA-button:hover {
  background-color: #ff1e00;
  color: white;
}

.CTA-button a {
  text-decoration: none;
  font-weight: 500;
}

/*



Media queries




*/
@media only screen and (min-width: 600px) {
  nav {
    margin-bottom: 0.5rem;
  }


  .nav-underline1 {
    width: 130px;
  }
  .nav-underline3 {
    width: 145px;
    padding: 0;
  }
  .nav-underline2 span:nth-child(2) {
    border-bottom: #ff1e00 solid 2px;
    padding: 0.5rem 0 0;
    width: 142px;
    display: flex;
    justify-content: center;
    margin-left: 0;
  }
  .nav-underline1 span:nth-child(2),
  .nav-underline3 span:nth-child(2) {
    border-bottom: #ffffff solid 2px;
    padding: 0.5rem 0 0;
    margin-left: 1rem;
  }
  .nav-underline1:hover,
  .nav-underline1:focus,
  .nav-underline3:hover,
  .nav-underline3:focus {
    border-bottom: #ff1e00 solid 2px;
  }
  .problems-text-card-1,
  .problems-text-card-2,
  .problems-text-card-3 {
    padding: 2.5rem 0;
    height: 33.33%;
  }
  .problems-image-mobile {
    display: none;
  }
  .problem-text-image-desktop {
    display: flex;
  }
  .soloution-text-image-desktop {
    display: flex;
  }
  .beDone-text-image-desktop {
    display: flex;
  }
  /*

  CTA

  */
  .CTA-content-container {
    padding: 6rem 0;
  }

  .CTA-button {
    padding: 1.75rem 8.5rem;
  }
  /*

  Tittel

  */
  #tittel {
    height: 125px;
    background-color: white;
  }
  .tittel-container h1 {
    color: #051325;
    margin-left: 6.5%;
  }
  .problems-tittel-container {
    height: 150px;
  }
}
@media only screen and (min-width: 900px) {
  /*

  CTA

  */
  .CTA-content-container {
    padding: 14rem 0;
  }
  .CTA-button {
    padding: 1.75rem 8.5rem;
  }
  .CTA-text {
    padding: 0 0 4rem;
  }
  .CTA-button,
  .CTA-text p {
    font-size: 2.5rem;
  }
}
